@charset "UTF-8";   /* 인코딩 문자 깨짐 방지 (유니코드 문자열 있을 시) */

html {
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size: 100%;
}

body {
    color: #432;
    line-height: 2.0; 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* header --------------------------------- */

/* 로고 크기 여백 조정 */
.logo {
    width: 210px;
    margin-top: 14px;
}

/* 내비 메뉴 장식 */
.main-nav {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: flex;
    margin-top: 34px;
}

/* 내비 li 여백 */
.main-nav li {
    margin-left: 36px;
}

/* 내비 a 태그 */
.main-nav a {
    color: #432;
}

.main-nav a:hover {
    color : #0bd;
}

/* 로고 내비 수평 정렬 */
.page-header {
    display: flex;
    justify-content: space-between;
}

/* 콘텐츠의 최대 출력 너비 설정 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* home content --------------------------------- */

/* 배치 및 여백 설정 */
.home-content {
    text-align: center;
    margin-top: 10%;
}

/* 글자 설정 */
.home-content p {
    font-size: 1.125rem;
    margin : 10px 0 42px;
}

/* 제목 */
.page-title {
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


/* 메뉴 보기 버튼 */
.button {
    background: #0bd;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.375rem;
}

.button:hover {
    background: #0090aa;
    color: white;
}

/* 큰 배경 이미지 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    
}

#home {
    background-image: url(../image/main-bg.jpg);
    min-height: 100vh; /* 바탕화면 전체크기 */
}


/* news ------------------------------------ */
#news {
    background-color: lightskyblue;
    height: 270px;
    margin-bottom: 50px;
}

#news .page-title{
    text-align: center;  /* 가운데 정렬 */
    font-size: 3rem;
}

/* footer ---------------------------------- */
footer {
    background: #432;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: #fff;
    font-size: 0.875rem;
}

/* news content --------------------------- */

/* article */
article {
    /* width: 74%; */
    /* 2-column에서 3-column으로 변경 시 width 줄이기 */
    width: 55%;
    /* 컬럼 순서 변경
       display : flex의 자식 요소에서 동작  */
    order : 2;
}

/* aside */
aside {
    width: 22%;
    order : 3;
}

/* 광고 배너 */
.ad {
    order : 1;
}

/* 뉴스 컨텐츠 수평 정렬 및 여백 */
.news-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* 날짜 장식 */
.post-info {
    /* 상대 위치 지정 */
    position: relative;
    padding-top: 4px;
    padding-bottom: 40px;
}

.post-date {
    background: #0bd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 1.625rem;
    text-align: center;
    /* .post-info 기준 절대 위치 */
    position: absolute;
    top:0;
    padding-top: 10px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(225, 225, 225, 0.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title {
    font-size: 2rem;
    font-weight: normal;
}

.post-title,
.post-cat {
    margin-left: 120px;
}

article img {
    margin-bottom: 20px;
}

article p {
    margin-bottom: 1rem;
}

/* side bar -------------------------------------- */
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

aside p {
    padding : 12px 10px;
}

.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color : #0bd
}

/* for mobile --------------------------------------------------- */
/* 변경 기준이 되는 화면 크기를 브레이크 포인트라고 하며
디바이스별로 width는 다름 450~760 정도가 기준으로 중간 정도인 600px을
브레이크 포인트로 설정 */

/* 창 너비가 0~600px일 경우 */
@media (max-width:600px){

    /* 제목 문자 크기 축소 */
    .page-title{
        font-size: 2.5rem;
    }

    /* header */
    /* 내비 글자 크기 및 여백 축소 */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin : 0 20px;
    }

    /* home */
    /* 홈 컨텐츠의 상단 여백 증가 */
    .home-content {
        margin-top: 20%;
    }

    /* 로고와 내비 수직 정렬 */
    .page-header {
        /* display : flex에서 어떤 방향으로 정렬할지 지정 */
        flex-direction: column;
        align-items: center;
    }

    /* news */
    /* 뉴스 컨텐츠 수직 정렬 */
    .news-content {
        flex-direction: column;
    }

    /* 원래 2-column으로 쪼개서 차지하던 너비를 100% 차지할 수 있도록 */
    article,
    aside {
        width: 100%;
    }

    /* 문자 크기 및 여백 조절 */
    #news .page-title {
        margin-top: 30px;
    }
    
    aside {
        margin-top: 60px;
    }

    .post-info{
        margin-bottom: 30px;
    }

    .post-date{
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }

    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }

    .post-title{
        font-size: 1.375rem;
    }

    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }

    .post-title,
    .post-cat {
        margin-left: 80px;
    }

}

/* menu ----------------------------------------------- */
#menu {
    background-image: url(../image/menu-bg.jpg);
    min-height: 100vh;
}

.menu-content {
    max-width: 560px;
    margin-top: 10%;

}

.menu-content .page-title {
    text-align: center;
}

.menu-content p {
    font-size: 1.125rem;
    font-weight: bolder;
    margin: 10px 0 0;
}

/* for menu ------------------------------------------- */
@media (max-width:600px) {
    /* menu */
    .menu-content {
        margin-top: 20%;

    }
}

/* grid ----------------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 반응형 적용 1 : 창의 너비가 작아졌을 때 이미지가 너무 작아지지 않도록 최솟값 지정 */
    grid-template-columns: repeat(3,minmax(240px, 1fr));
    /* 반응형 적용 2 : 2, 3 번째 요소가 잘려 보이므로 3열로 한정하지 않고
    화면의 너비에 맞게 요소의 수 조정 */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    gap : 26px;
    margin-top: 6%;
    margin-bottom: 50px;
}

.grid img {
    width: 100%;
}

.item p {
    font-weight: bold;
    text-align: center;
}

/* 강조하고 싶은 item에 big-box 클래스 부여 후 */
.big-box {
    grid-column: 1/3;
    grid-row: 1/3;
}

.big-box img {
    /* 큰 이미지와 작은 이미지의 높이 맞춤 */
    height: 94%;
    /* 이미지 비율 맞춤  */
    object-fit: cover;
}

/* for mobile ---------------------------------------- */
/* big-box로 인해 폭이 좁아지면 메뉴끼리 크기가 맞지 않으므로
   폭이 좁아지면 1-column으로 변경되도록 처리 */
@media (max-width : 600px) {
    .big-box {
        grid-column: auto;
        grid-row: auto;
    }

    .big-box img {
        height: 100%;
    }
}